<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<style type="text/css">
body {
	background-color: #C0C0C0;
}
#banner {
	background-color: #0000FF;
	height:100px;
	width:600px;
	position:relative;
}
#login {
	background-color:aqua;
	width: 150px;
	height: 50px;
	position: relative;
	top: -100px;
	left: 600px;
}
#register{
	background-color:yellow;
	width: 150px;
	height: 50px;
	position:relative;
	top: -150px;
	left: 750px;

}
#search{
	background-color:lime;
	width: 300px;
	height: 50px;
	position:relative;
	top:-150px;
	left:600px;

}
#sidebar {
   	background-color:orange;
   	position:relative;
   	height:600px;
   	width:150px;
   	top:-150px;
   	}
#footer{
	background-color:lime;
	height: 80px;
	width: 900px;
	position:relative;
	top:-150px;
}

#recentposts {
	background-color: #FF66FF;
	position:relative;
	height:500px;
	width: 750px;
	top:-830px;
	left:150px;

}	
#userpost{
	background-color:red;
	position:relative;
	height:100px;
	width: 750px;
	top:-830px;
	left:150px;


}
</style>
</head>

<body>
<div id="banner">Banner</div>
<div id="login">Login</div>
<div id="register">Register</div>
<div id="search">Search Engine</div>
<div id="sidebar">Class links</div>
<div id="footer">Footer</div>
<div id="recentposts">Recent Posts</div>
<div id="userpost">User's Post</div>


</body>

</html>